RewriteEngine On

# Redirige toutes les requêtes HTTP vers HTTPS

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# Bloque l’accès aux fichiers sensibles

<FilesMatch "^(\.env|\.git|\.htaccess|config\.php|config_mail\.php)$">
    Require all denied
</FilesMatch>

# Désactive l'affichage de l’index si pas de index.php ou index.html

Options -Indexes

# Active la protection contre les scripts malveillants renommés

<FilesMatch "\.(bak|config|sql|ini|log|sh)$">
    Require all denied
</FilesMatch>
